@model Register



<section class="book_section layout_padding text-center">
    <div class="container">
            <h1 style="color: #ffc107;">
                FoodSystem'e hoş geldiniz!
            </h1>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger mb-3" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                <strong>@ViewBag.SuccessMessage</strong>
            </div>
        }
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form_container">
                    <form id="registrationForm" method="post" action="/Kayit" autocomplete="off">
                        <div>
                            <input type="text" name="UserName" class="form-control" placeholder="Ad" />
                        </div>
                        <div>
                            <input type="text" name="LastName" class="form-control" placeholder="Soyad" />
                        </div>
                        <div>
                            <input type="password" name="Password" class="form-control" placeholder="Şifre" />
                        </div>
                        <div>
                            <input type="password" name="RepeatPass" class="form-control" placeholder="Şifre Tekrarı" />
                        </div>
                        <div>
                            <input type="email" name="Email" class="form-control" placeholder="Mail" />
                        </div>
                        <div>
                            <input type="tel" id="PhoneNumber" name="PhoneNumber" class="form-control" placeholder="Telefon Numarası" maxlength="10" />
                        </div>
                        <div>
                            <textarea class="form-control" name="Address" placeholder="Adres" rows="3"></textarea>
                        </div>
                        <div class="btn_box">
                            <button type="submit" class="btn btn-primary">
                                Kayıt Ol
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


